---
const { profile, avatarClass } = Astro.props;
---

<div class="text-center mb-10 animate-fade-in">

	<img
		src={profile.avatar || "avatar/Avatar.webp"}
		alt={`${profile.name} avatar`}
		class="w-32 sm:w-36 md:w-40 h-auto mx-auto object-contain"
	/>

	<h1 class="mt-5 leading-none text-center">

	<span
		class="block
		text-2xl sm:text-3xl md:text-4xl
		font-bold
		text-green-800"
	>
		Bách Hoá
	</span>

	<span
		class="
		block
		mt-1
		text-5xl sm:text-6xl md:text-7xl
		font-black
		tracking-tight
		leading-none
		"
		style="
			background:linear-gradient(180deg,#2E7D32,#1B5E20);
			-webkit-background-clip:text;
			-webkit-text-fill-color:transparent;
			filter:drop-shadow(0 3px 5px rgba(0,0,0,.15));
		"
	>
		GIANG SEN
	</span>

</h1>

	<div class="flex items-center justify-center my-4">
		<div class="h-px w-20 bg-green-300"></div>

		<span class="mx-3 text-green-600 text-2xl">
			🌾🍚🌾
		</span>

		<div class="h-px w-20 bg-green-300"></div>
	</div>

	<p class="text-xl font-medium text-gray-800">
		{profile.description}
	</p>

	<p class="mt-5 text-2xl font-extrabold text-red-700">
		☎️ 0854 815 813
	</p>

</div>
