---
const { profile, avatarClass } = Astro.props;
---

<div class="text-center mb-10">
	<div class="inline-block">
		<img
			src={profile.avatar || "avatar/Avatar.webp"}
			alt={`${profile.name} avatar`}
			width="120"
			height="120"
			class={avatarClass}
		/>

		<h1 class="mt-6 mb-2 text-4xl font-extrabold font-sans">
			{profile.name}
		</h1>

		<p class="mx-auto max-w-sm text-lg font-normal font-sans text-gray-700">
			{profile.description}
		</p>

		<p class="mt-4 text-xl font-bold font-sans text-blue-700">
			☎️ 0854 815 813
		</p>
	</div>
</div>
